<div class="d-flex justify-content-between">
    <input type="text" [(ngModel)]="searchVal"/>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li><button class="dropdown-item" type="button">Another action</button></li>
          <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul>
      </div>
      <button class="btn btn-primary" (click)="search()">Search</button>
</div>
<app-table class="mt-4" [tableData]="searchResult$ | async"></app-table>
